SESSION_NAME=1AZWarzYBu5FQXDlpziqwNabAihKd4EkoIFB5rM_NH5FnYiPeVSqRHAj9sg1_BnCy3IGl88m6KHrr4NKmEzpoYVCOYPR81ftG68CEwv2d-eyFvvGxbLQf_5G1cC1GL75ocEOVH9NBXewwGNFdvr9_3sMUA2rkGG7LrYnvKsui1yygTejCcIF4YDUAFrG-qSdQfFX8VOHkUspLk_JkHw_xN7qSRhVTe77HYU_hXaAbBgUwSdnyQemWxI36A4qslU14YNF2waWb84PyIgtdDdBTtmlKq__6rMjQUCoSSsTkOuKqyyKzztmK6h6nhxiXp14YGa-sIXGAOm83t3xNnhAXc8pff3_Ej9Y=
BOT_TOKEN=1818517022:AAGP82PqxoJ_2ITMxT6CW_xOVPnp-0sbmGg
BOT_NAME=SankiPlayer
API_ID=6562350
API_HASH=f5d5065c88c05b2fe40961c010cfaa7c
SUDO_USERS=1865594032
DURATION_LIMIT=10 # in minutes (default: 7)
ARQ_API_KEY=EIDPNS-MKGEQE-LGDCXQ-TNCSFP-ARQ
UPDATES_CHANNEL=SANKIPUBLIC
BG_IMAGE=https://telegra.ph/file/85bc63570c1322144b1e1.jpg
ASSISTANT_NAME=SANKIPLAYERASSISTANT
BOT_USERNAME=SANKIPLAYERBOT
